<ion-view class="forgotPassword-view" cache-view="false">
  <!-- <ion-header-bar class="bar-header bar-light">

  </ion-header-bar> -->
<ion-content scroll="false">
  <div class="top-content ">
      <div class="regTitle">
          <div class="regHeader">
            <div class="backButton " ng-click="goBack();">
              <i class="icon ion-ios-arrow-back" ></i>
              <p>Back</p>
            </div>
            <h3>Forgot Password?</h3>
            <p>Enter your registered mobile number <br>to get your password.</p>
          </div>
      </div>
  </div>


  <div class="form-content">
    <form name="forgot_password_form" ng-submit="submitForm($event)" ng-class={submitted:submitted}>

      <!-- <div class="form-group">
         <select ng-hide="true" ng-model="country" ng-init="country=countries[0]" ng-options="country.name for country in countries"></select>
        <span class="input-group-addon" ng-model="country.dial_code" >+91</span>
        <input type="number" placeholder="Phone Number" name="user_phone" ng-model="user.phone" mask-clean='true'  mask='9999999999' restrict="reject" clean="true"  required>
      </div> -->

      <div class="form-group" >
        <span class="input-group-addon"  ng-model="country.dial_code" >+91</span>
        <input class="form-control"  type="tel" placeholder="Phone Number" name="user_phone" string-to-number ng-model="user.phone" mask-clean='true'  mask='9999999999' restrict="reject" clean="true" ng-intl-tel-input required></input>
        <!-- <input type='tel' class="form-control"  mask-clean='true' placeholder="Mobile Number" ng-model='loginData.phone' mask='9999999999' restrict="reject" clean="true" international-phone-number preferred-countries="pl, de" required ng-class={submitted:submitted}><span style=" margin: -10% 0 0 2% !important; font-size: 100% !important;">+91</span></input> -->

      </div>

<!--
        <div class="form-group" >
            <span class="input-group-addon" ng-model="country.dial_code" >+91</span>
          <input type="number" placeholder="Phone Number" name="user_phone" ng-model="user.phone" mask-clean='true'  mask='9999999999' restrict="reject" clean="true"  required>

        </div> -->
    </form>
  </div>

  <div class="bottom-content">
    <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
      Recover it
    </button>


  </div>

</ion-content>

</ion-view>
