<ion-view  title="Profile" hide-nav-bar="true" hide-back-button="true" id="page6" class="profile-view" cache-view="false">
    <ion-content class="manual-ios-statusbar-padding" ng-repeat="agent in agentDetails">

    <div class="imageContainer ">
      <div class="profileImage">
        <img  ng-hide="agent.agentPic == null " ng-src="{{agent.agentPic}}"   spinner-on-load>
        <img  ng-show="agent.agentPic == null " ng-src="img/patientAvatar.png"   spinner-on-load>
      </div>
    </div>

    <div class="row">
      <div class="col">Name</div>
      <div class="col  col-50">{{agent.agentFname}} {{agent.agentMname}} {{agent.agentLname}}</div>
    </div>
    <div class="row">
      <div class="col">Gender</div>
      <div class="col  col-50">{{agent.agentSex}}</div>
    </div>
    <div class="row">
          <div class="col">Email</div>
          <div class="col  col-50">{{agent.agentEmail}}</div>
    </div>
    <div class="row">
          <div class="col">Phone</div>
          <div class="col  col-50">{{agent.agentPhone}}</div>
    </div>
    <div class="row">
          <div class="col">City</div>
          <div class="col  col-50">{{agent.agentCity}}</div>
    </div>
    <div class="row">
          <div class="col col-50 ">Doctors Registered</div>
          <div class="col  ">12{{agent.agentAge}}</div>
    </div>



    <a  href="#/sign-in" ng-click="termsAndCond()">Signout</a>


    </ion-content>
</ion-view>
