<ion-view title="Doctor Registration Form" hide-nav-bar="true" hide-back-button="true" id="page6" class="reg-view">


    <ion-content padding="true"  class="manual-ios-statusbar-padding">


      <form name="signinForm" novalidate ng-submit="registerDoc($event)" >
      <!-- <ion-item>

        <ion-toggle >on</ion-toggle>
      </ion-item> -->
            <div class="list" scroll="true">
                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.fname.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.fname.$valid  && signinForm.$submitted}">
                  <span class="input-label">First Name</span>
                  <input type="text" name="fname"  ng-model="doctor.fname" required>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.mname.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.mname.$valid  && signinForm.$submitted}">
                  <span class="input-label">Middle Name</span>
                  <input type="text" name="mname"  ng-model="doctor.mname" >
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.lname.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.lname.$valid  && signinForm.$submitted}">
                  <span class="input-label">Last Name</span>
                  <input type="text" name="lname"  ng-model="doctor.lname" required>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.age.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.age.$valid  && signinForm.$submitted}">
                  <span class="input-label">Age</span>
                  <input type="number" name="age" ng-model="doctor.age" mask-clean='true' mask='99' restrict="reject" clean="true" required>

                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.degrees.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.degrees.$valid  && signinForm.$submitted}">
                  <span class="input-label">Degrees</span>
                  <input type="text" name="degrees"  ng-model="doctor.degrees" required>

                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.since.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.since.$valid  && signinForm.$submitted}">
                  <span class="input-label">Practicing Since</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name="since" ng-model="doctor.since" required style="width:35%;">
                    <option ng-repeat="year in range" values={{year}}>{{year}}</option>
                  </select>
                </label>


                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.sex.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.sex.$valid  && signinForm.$submitted}">
                  <span class="input-label">Sex</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='sex' ng-model="doctor.sex" required>
                    <option value='Male' selected>Male</option>
                    <option value='Female'>Female</option>
                  </select>
                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.country.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.country.$valid  && signinForm.$submitted}">
                  <span class="input-label">Country</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='country' ng-model="doctor.country" required>
                    <option value='India' selected>India</option>
                    <option value='US'>US</option>
                  </select>
                </label>

                <label class="item item-input "
                       ng-class="{ 'has-error-lr' : signinForm.city.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.city.$valid  && signinForm.$submitted}">
                  <span class="input-label">City</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <input type="text" googleplace placeholder="" ng-model="doctor.city"  class="ng-pristine ng-valid" autocomplete="off" ng-change='disableTap();' required><!-- googleplace -->


                  <!-- <select name='city' ng-model="doctor.city" required>
                    <option  ng-repeat="loc in locationList" value={{loc.city_name}}>{{loc.city_name}}</option>
                  </select> -->
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.address1.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.address1.$valid  && signinForm.$submitted}">
                  <span class="input-label">Address Line-1</span>
                  <input type="text" name="address1"  ng-model="doctor.address1" required>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.address2.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.address2.$valid  && signinForm.$submitted}">
                  <span class="input-label">Address Line-2</span>
                  <input type="text" name="address2"  ng-model="doctor.address2" >
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.pin.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.pin.$valid  && signinForm.$submitted}">
                  <span class="input-label">Pin</span>
                  <input type="number" name="pin"  ng-model="doctor.pin" mask-clean='true' mask='999999' restrict="reject" clean="true" required>

                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.email.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.email.$valid  && signinForm.$submitted}">
                  <span class="input-label">Email</span>
                  <input type="email" name="email"  ng-model="doctor.email" required >
                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.language1.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.language1.$valid  && signinForm.$submitted}">
                  <span class="input-label">Language-1</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='language1' ng-model="doctor.language1" required>
                    <option ng-repeat="lang in languageList" value={{lang.language}}>{{lang.language}}</option>

                  </select>
                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.language2.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.language2.$valid  && signinForm.$submitted}">
                  <span class="input-label">Language-2</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='language2' ng-model="doctor.language2" required>
                    <option ng-repeat="lang in languageList" value={{lang.language}}>{{lang.language}}</option>
                  </select>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.mobile.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.mobile.$valid  && signinForm.$submitted}">
                  <span class="input-label">Mobile</span>
                  <input type="number" name="mobile"  ng-model="doctor.mobile" mask-clean='true' mask='9999999999' restrict="reject" clean="true" required>
                </label>


                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.bankName.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.bankName.$valid  && signinForm.$submitted}">
                  <span class="input-label">Bank Name</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='Bank Name' ng-model="doctor.bankName" required>
                    <option ng-repeat="bank in bankList" value={{bank.bankName}}>{{bank.bankName}}</option>
                  </select>
                </label>



                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.accNum.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.accNum.$valid  && signinForm.$submitted}">
                  <span class="input-label">A/C Num</span>
                  <input type="number" name="accNum"  ng-model="doctor.accNum"  required>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.ifsc.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.ifsc.$valid  && signinForm.$submitted}">
                  <span class="input-label">IFSC</span>
                  <input type="text" name="ifsc"  ng-model="doctor.ifsc" required>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.fee.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.fee.$valid  && signinForm.$submitted}">
                  <span class="input-label">Fee</span>
                  <input type="number" name="fee"  ng-model="doctor.fee" required>
                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.speciality.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.speciality.$valid  && signinForm.$submitted}">
                  <span class="input-label">Speciality</span>

                  <select name="multipleSelect" id="multipleSelect" ng-model="doctor.speciality" multiple>
                        <option ng-repeat="sp in specialitiesList" value="{{sp.special}}">{{sp.special}}</option>
                  </select>


                          <!-- <select multiple required ng-model='doctor.speciality'
                                            ng-options="a.special for a in specialitiesList" >
                              </select> -->

                </label>

                <label class="item item-input item-select"
                       ng-class="{ 'has-error-lr' : signinForm.mciReg.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.mciReg.$valid  && signinForm.$submitted}">
                  <span class="input-label">MCI Registered</span>
                  <!-- <input type="text" name="sex"  ng-model="doctor.sex" required> -->

                  <select name='mciReg' ng-model="doctor.mciReg" required>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                  </select>
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error-lr' : signinForm.mciNum.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.mciNum.$valid  && signinForm.$submitted}">
                  <span class="input-label">MCI Num</span>
                  <input type="number" name="mciNum"  ng-model="doctor.mciNum" required>
                </label>

                <div class="card" required>
                  <div class="item item-divider">
                  Doctor Images
                  </div>
                  <div class="item item-text-wrap">
                      <div class="row">
                        <div class="col col-33 " ng-Click="takePhoto1();">
                          <img  ng-hide="imgURI1 == null " ng-src="{{imgURI1}}"  spinner-on-load>
                          <img  ng-show="imgURI1 == null " ng-src="img/patientAvatar.png"   spinner-on-load>

                        </div>
                        <div class="col col-33 " ng-Click="takePhoto2();">
                          <img  ng-hide="imgURI2 == null " ng-src="{{imgURI2}}"  spinner-on-load>
                          <img  ng-show="imgURI2 == null " ng-src="img/patientAvatar.png"   spinner-on-load>

                        </div>
                        <div class="col col-33 " ng-Click="takePhoto3();">
                          <img  ng-hide="imgURI3 == null " ng-src="{{imgURI3}}"   spinner-on-load>
                          <img  ng-show="imgURI3 == null " ng-src="img/patientAvatar.png"   spinner-on-load>

                        </div>
                      </div>
                  </div>

                </div>


              </div>
              <div class="padding">
                <button class="button button-block button-positive" ng-click="validateUser(signinForm.$valid)">
                  Register
                </button>

              </div>

            </form>
    </ion-content>

</ion-view>
