<ion-view hide-nav-bar="true" hide-back-button="true" class="sigIn-view" style="" class="manual-ios-statusbar-padding">
  <ion-content scroll="false">

<div class="content">
  <div class="logoContainer">
    <div class="logo">
      <img  ng-src="img/dq_login_logo.png" >
    </div>
  </div>
  <form  novalidate name="loginForm" ng-submit="sendForm($event)" ng-class={submitted:submitted}>

  <div class="list loginData margin">
  <div class="form-group">
    <input type="tel" placeholder="Phone Number" ng-model="user.phone" mask-clean='true'  mask='9999999999' restrict="reject" clean="true"  required>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" ng-model="user.password"  required>
  </div>

  </div>
  <button class="button button-block button-positive" ng-click="doLogIn(user)" >
    Login
  </button>
</form>
  <p class="text-center">
    <a href="#/forgot-password">Forgot password</a>
  </p>

</div>


  </ion-content>
</ion-view>
