<ion-view>
    <ion-tabs class="tabs-icon-top tabs-striped">

      <ion-tab title="Profile" icon-on="ion-happy" icon-off="ion-happy-outline"  ng-click="hometab();">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Doctor Registration" icon-on="ion-ios-medkit"  icon-off="ion-ios-medkit-outline" ng-click="registerTab();">
        <ion-nav-view name="register-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Explaination Given" icon-on="ion-ios-paper"  icon-off="ion-ios-paper-outline" ng-click="updateTab();">
        <ion-nav-view name="updateDoctor-tab"></ion-nav-view>
      </ion-tab>

      <!-- <ion-tab title="Update" icon="ion-log-out" >
        <ion-nav-view name="updateDoctor-tab" ng-click="updateTab();"></ion-nav-view>
      </ion-tab> -->

    </ion-tabs>
</ion-view>
