.profile-view{

  // background: url(../img/hyj1RBBJQkS81GoEbyUM_background.png) no-repeat center;
  // background-size:cover;
  background-color: #e2e2e2 !important;

  ::-webkit-input-placeholder {
     color: red;
  }

.imageContainer{
  font-size: 3vw;
      // background-color: red;
  .profileImage{
    width: 50%;
    height: 50%;
    // background-color: teal;
    margin: 0 auto;
  }
  img{
    width: 100% ;
    margin: 0 auto;
    border-radius: 50%;
    border: 8px solid #e2e2e2;
  }
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 5px 0 6px 0;
}
.col{
      margin: 4px 0 5px 10px;
}
a{
  color: green;
  margin: 0 0 0 41vw;
}
//



}
