.reg-view{

  // background: url(img/hyj1RBBJQkS81GoEbyUM_background.png) no-repeat center;
  // background-size:cover;
  background-color: #e2e2e2 !important;
  .submitted input.ng-invalid:not(:focus) {
    border:1px solid red;
  }
  // background-color: red;
    .submitted label.item.has-error {
    border-bottom: 1px solid red;
  }

  label.item.has-error-lr {
    border: 1px solid red;
    // border-right: 2px solid red;
  }

  label.item.valid-lr {
    border: none ;
    // border-right: 2px solid green;
  }

  .form-errors {
    margin: 5px 0
  }

  .form-error {
    padding: 2px 0 2px 16px;
    color: red;
  }

  .inputTypes{
    margin-bottom: 1vh ;
    // border: 1px solid red;
  }

.item-input{
  margin-bottom: 1vh !important;
}

.input-dropdown {
    position: relative;
    display: inline-block;
}
.input-dropdown .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
    background: #EEE;
    z-index: 999;
}
.input-dropdown .dropdown div {
    cursor: pointer;
    padding: 2px 5px;
}
.input-dropdown input:focus + .dropdown {
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -0;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 100px;
}
.col{
  display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    margin: 2px;
    img{
      width: 100%;
    height: 75px;
    }
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}
}
