.sigIn-view{
              .content{
                margin-top: 15vh;
                height: 100%;

              }
              background: url(../img/hyj1RBBJQkS81GoEbyUM_background.png) no-repeat center;
              background-size:cover;
            ion-content{
              width: 90% !important;
              margin: 0 auto;
            }
            a{
                  color: rgba(0, 0, 0, 0.75) !important;
                  text-decoration: underline;
            }

            .logoContainer{
              // background-color: red;
              margin-top: 5vh;
              .logo{
                width: 80%;
                height: 50%;
                // background-color: cyan;
                margin: 0 auto;
              }
              img{
                width: 100% ;
                margin: 0 auto;
                }
            }
            .loginData{
            width: 90%;
            margin: 0 auto;
            }
            .margin{
              margin-top: 4vh;
            }
            .item-input{
              margin-bottom: 2vh;
            }
            .button.button-positive {
                border-color: transparent;
                background-color: #6fa02d;
                color: #fff;
                width: 90%;
                margin: 0 auto;
            }
            .button.button-positive .activated {
                border-color: transparent;
                background-color: #6fa02d;
                color: #fff;
                width: 90%;
                margin: 0 auto;
            }

            input[type="tel"]{
            //	color: green;
              font-size: 4vw;
              padding: 0 0 0 15px !important;
              // margin-top: 1vh;
              margin: 0 auto;
              font-family: Ubuntu,bold,sans-serif !important;
              height: 50px;
              width: 100%;

            }
            input[type="password"]{
              font-size: 4vw;
              padding: 0 0 0 15px !important;
              /* margin-top: 1vh; */
              height: 50px;
              font-family: Ubuntu,bold,sans-serif !important;
              margin: 0 auto;
              width: 100%;
              // height: 100%;
            }
            .submitted input.ng-invalid:not(:focus) {
              border:2px solid red;
            }
            .profile-details{
              background-color: red;
              margin: 0 auto;
              width: 80% !important;
            }


            .top-content{
                margin-top: 10%;
          			height: 35% !important;
          			.regTitle{
          				width: 80% !important;
          				height: 100% !important;
          				margin: 0 auto !important;
          				// background-color: red !important;

          				.regHeader{
          					position: absolute !important;
          					width: 80% !important;
          					margin: 0 auto !important;
              			// margin-top: 7vh !important;
          					.backButton{
          						i{
          							position: absolute;
          							font-size: 210%;
          						}
          						p{
          							margin-top: 9%;
          							font-size: 145%;
          							margin-left: -70%;

          							// text-align: center;
          						}
          					}
          					p{
          						margin-top: 9%;
              				font-size: 100%;
          						text-align: center;
          					}
          					.regFlowImg{
          						width: 50% !important;
          						margin: 0 auto;;

          						img{
          							width: 100%;
          							margin-top: 2vh;
          						}
          					}
          					.regMsg{
          						width: 100% !important;
          						margin: 0 auto !important;
          						p{
          							font-size: 92%;
          							color: black;
          						}

          					}
          					h3{
          						text-align: center;
          						font-size: 130%;
          						color: black;
          					}
          				}
          			}

          	}

            .form-content{
          		height: 20% !important;
          		margin-top: 0 !important;
          		// background-color: blue !important;

          			.form-group{
          				width: 100% !important;
          				margin: 0 auto;
                  input[type="tel"]{
                    // height: 40% !important;
                    padding-left: 15%;
                    width: 100% !important;
          					padding: 0% 0 0 15%;
          				}

          				.input-group-addon {
          					border: none;
          						padding: 2px 4px 2px 4px !important;
          					-webkit-transition: border-color ease-in-out .15s;
          									transition: border-color ease-in-out .15s;
          				}
          				.input-group-addon:first-child {
          							position: absolute !important;
          							border: none;
          							background: transparent;
          							display: table;
          							margin: 5% 0 0 2% !important;
          							left: 11% !important;
          							z-index: 999;
          				}
          				.input-group-addon:not(:first-child):not(:last-child){
          					background-color: white;
          						border: none;
          						display: table-caption;
          						position: absolute;
          						top: 34% !important;
          						left: 1% !important;
          				}
          				.input-group-focus .input-group-addon {
          					// border-color: #66afe9 !important;
          					border-color: none !important;

          				}
          				.has-error .input-group-addon {
          					border-color: #843534 !important;
          				}
          				.has-success .input-group-addon {
          					border-color: #2b542c !important;
          				}
          				.has-warning .input-group-addon {
          					border-color: #66512c !important;
          				}



          			}

          	}
          	.bottom-content{
              width: 90%;
              margin: 0 auto;
          		// background-color: teal !important;
          	   .button{
                 width: 90% !important;
          			 margin: 0 auto;
               }
          		.tAndC{
          			width: 80% !important;
          			height: 20% !important;
          			margin: 0 auto;
          			.terms{
          				width: 80% !important;
          				height: 100% ;
          				margin: 0 auto;
          				h2{
          					font-size: 80%;
          					color: #fff;
          					text-align: center;
          					margin-top: 3%;
              			line-height: 1.5;
          					a{
          						color: inherit !important;
          						text-decoration: underline !important;
          					}
          				}
          			}

          		}

          		.button-stable{
          			background-color: #6aa13e;
          		}
          		.button-stable.activated{
          			background-color: #557a23 !important;
          		}
          		.button-calm.activated{
          			background-color:#026451!important;
          		}
          	}

}
